@charset "UTF-8";

/*풋터*/
    /*P태그*/
    .mainFt{
      padding: 30px;
    }
    .mainFt a{
      text-decoration: none;
      color: black;
    }
    .mainFt nav span{
      cursor: pointer;
    }
    /*풋터 소셜아이콘*/
    
    .mainFt-social > a img{
      float: right;
      width: 30px;
      margin-right: 10px;
    }
    /*모달 X 커스텀*/
    .btn-close{
    	font-size: x-small;
    	margin-top: 0.1rem !important;
    }
    .btn-close:active{
    	outline: none;
    	box-shadow: none;
    }