<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comme.missing_board.MissingBoardDAO">
	
	<!-- 전체조회 -->
    <select id="selectAllMissing" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap" parameterType="int">
        <![CDATA[
        select b.*,
               (select nvl(count(SEQ_BOARD), 0) from missing_board where SEQ_BOARD = b.SEQ_BOARD) as cur,
               (select FILES_SYS from missing_file where SEQ_BOARD = b.SEQ_BOARD and ROWNUM = 1)  as files_sys
        from (select a.*, rownum as num
              from (select *
                    from missing_board
                    order by 1 desc) a
              where rownum <= #{end}) b
        where num >= #{start}
        ]]>
    </select>
	
	<!-- 검색 요청 -->
	<select id="search" parameterType="map" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap">
		select * from missing_board where
		<if test="category == 'title'">
			board_title like '%'||#{keywordMissing} || '%'
		</if>
		<if test="category == 'content'">
			board_content like '%' || #{keywordMissing} || '%'
		</if>
		<if test="category == 'writerNickname'">
			writer_nickname like '%' || #{keywordMissing} || '%'
		</if>
		<if test="category == 'area'">
			miss_area like '%' || #{keywordMissing} || '%'
		</if>
	</select>
	
	<!-- 조회수 +1 -->
	<update id="updateView_count">
		update missing_board set view_count = view_count+1 where seq_board = #{seq_board}
	</update>
	<!-- 글 수정 -->
	<update id="modify" parameterType="MissingBoardDTO">
		update missing_board set board_title = #{board_title}, board_content = #{board_content}, miss_area = #{miss_area}
		, miss_date = to_date(#{miss_date}), animal_kind = #{animal_kind} where seq_board = #{seq_board}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="delete" parameterType="int">
		delete from missing_board where seq_board = #{seq_board}
	</delete>
	
	
	<!-- 글 작성 -->
	<insert id="insert" parameterType="MissingBoardDTO">
		<!-- 시퀀스 번호 뽑아내기 -->
		<selectKey order="BEFORE" keyProperty="seq_board" resultType="int">
			select seq_board.nextval from dual
		</selectKey>
		insert into missing_board values(#{seq_board}, #{board_title}, #{board_content}, #{member_id},
			#{writer_nickname}, sysdate, #{miss_area}, to_date(#{miss_date}), #{animal_kind}, 0)
	</insert>
	
	<!-- 상세보기 글조회 -->
	<select id="selectOne" parameterType="int" resultType="MissingBoardDTO">
		select * from missing_board where seq_board = #{seq_board}
	</select>
	
	
</mapper>